.grid-wrap {
    padding: 20px 0;
    width: 100%;
}

.games-grid {
    display: grid;
    width: 100%;
    gap: 25px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    align-items: start;
}

@media (max-width: 1269px) {
    .games-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1029px) {
    .games-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 779px) {
    .games-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 529px) {
    .games-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
