.site-header {
    position: fixed;
    top: 0;
    z-index: 50;
    width: calc(100% - 48px);
    backdrop-filter: blur(10px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    padding: 4px 24px;
}

.profile-root .site-header,
.chat-root .site-header {
    background: transparent;
}

.header-center.header-mobile {
    display: none;
}

.header-inner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
}

.logo {
    display: inline-block;
    height: 42px;
}

.logo img {
    height: 42px;
    display: inline-block;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-title {
    font-size: 30px;
    font-weight: 800;
    color: var(--text);
    text-align: center;
    margin-right: 72px;
}

.header-inner.admin .header-title {
    margin-right: 0;
    margin-left: 34px;
}

.search-wrap {
    position: relative;
    width: 65%;
    min-width: 280px;
}

.search-input {
    width: calc(100% - 55px);
    padding: 10px 40px 10px 15px;
    border: 1px solid transparent;
    background: var(--main-search-input);
    color: var(--text);
    font-size: 16px;
}

.search-input:focus {
    border-color: var(--muted-yellow);
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 25%;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 12px
}

@media(max-width:899px) {
    .search-wrap {
        width: 90%;
    }
}

@media(max-width:599px) {
    .site-header {
        display: flex;
        flex-direction: column;
        width: calc(100% - 28px);
        padding: 4px 14px;
    }

    .header-title {
        font-size: 28px;
        margin-left: 0;
        margin-right: 0;
    }

    .header-inner {
        width: 100%;
        justify-content: space-between;
    }

    .header-center {
        display: none;
    }

    .header-center.header-mobile {
        display: block;
        width: 100%;
    }

    .header-center.header-mobile {
        padding-top: 5px;
    }

    .header-mobile .search-wrap {
        width: 100%;
    }
}