.hero-root {
    position: relative;
    min-height: 500px;
    display: flex;
    align-items: center;
    overflow: hidden
}

.hero-bg {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url('../img/hero-bg.png');
    background-size: cover;
    background-position: center;
    filter: grayscale(.02) brightness(.6);
}

.hero-inner {
    position: relative;
    display: flex;
    width: calc(100% - 100px);
    margin: 0 50px;
    align-items: center;
}

.hero-left {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero-title {
    margin: 60px 50px 60px 0;
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.hero-right {
    width: 55%;
    margin: 0 auto;
}

.top-label {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
}

@media(max-width:1199px) {
    .hero-title {
        margin-right: 25px;
    }
}

@media(max-width:999px) {
    .hero-title {
        font-size: 32px;
    }
}

@media(max-width:899px) {
    .hero-inner {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }

    .hero-left {
        width: 100%;
        padding-bottom: 12px;
    }

    .hero-title {
        margin: 20px auto;
    }

    .hero-right {
        width: 100%;
        padding-left: 0;
        margin-bottom: 40px;
    }
}

@media(max-width:799px) {
    .hero-title {
        font-size: 28px;
    }
}

@media(max-width:649px) {
    .hero-title {
        font-size: 24px;
    }

    .top-label {
        font-size: 20px;
    }
}

@media(max-width:549px) {
    .hero-title {
        font-size: 28px;
    }

    .top-label {
        font-size: 24px;
    }

    .hero-right {
        margin-bottom: 70px;
        width: 80%;
    }

    .hero-inner {
        width: 95%;
        margin: 0 auto;
        margin-top: 100.5px;
    }
}

@media(max-width:449px) {
    .hero-title {
        font-size: 24px;
    }

    .top-label {
        font-size: 20px;
    }

    .hero-right {
        margin-bottom: 70px;
        width: 100%;
    }
}