.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--modal-backdrop);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  max-width: 980px;
  width: calc(100% - 94px);
  max-height: 80vh;
  background: var(--modal-bg);
  border-radius: var(--radius);
  padding: 25px;
  margin: 20px;
  border: 2px solid var(--yellow);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.7);
  overflow: auto;
}

.modal-body {
  overflow: auto;
}

.modal-body::-webkit-scrollbar, .modal::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.modal-body::-webkit-scrollbar-track, .modal::-webkit-scrollbar-track {
  background: transparent;
}

.modal-body::-webkit-scrollbar-thumb, .modal::-webkit-scrollbar-thumb {
  background-color: var(--muted-text);
  border-radius: var(--radius);
  transition: background-color var(--transition);
}

.modal-body::-webkit-scrollbar-thumb:hover, .modal::-webkit-scrollbar-thumb:hover {
  background-color: var(--text);
}

@media (max-width: 600px) {
  .modal {
    padding: 15px;
    width: calc(100% - 74px);
  }
}