.ts-tabs {
    position: relative;
    display: flex;
    border-radius: var(--radius);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.auth-root .ts-tabs {
    width: 60%;
    background: var(--text-input);
    padding: 5px;
    margin-bottom: 25px;
}

.catalog-root .ts-tabs {
    width: 20%;
    background: transparent;
    padding: 3px;
    border: 2px solid var(--yellow);
}

.ts-tab {
    position: relative;
    z-index: 2;
    border: none;
    background: transparent;
    width: 50%;
    border-radius: var(--radius);
    color: var(--text);
    font-weight: 700;
    cursor: pointer;
    transition: color var(--transition), transform var(--transition);
    outline: none;
    text-align: center;
}

.auth-root .ts-tab {
    padding: 5px 15px;
    font-size: 18px;
}

.catalog-root .ts-tab {
    padding: 8px 10px;
    font-size: 20px;
}

.ts-tab.active {
    color: var(--bg);
}

.ts-tab-slider {
    position: absolute;
    top: 6px;
    bottom: 6px;
    width: calc(50% - 6px);
    background: var(--yellow);
    border-radius: var(--radius);
    transition: transform var(--transition-cb);
    left: 6px;
}

.ts-tab-slider.right {
    transform: translateX(100%);
}

.ts-tabs:focus-within .ts-tab {
    transform: none;
}

@media (max-width: 1599px) {
    .auth-root .ts-tabs {
        width: 70%;
    }
}

@media (max-width: 1399px) {
    .catalog-root .ts-tabs {
        width: 30%;
    }
}

@media (max-width: 999px) {
    .catalog-root .ts-tabs {
        width: 45%;
    }
}

@media (max-width: 699px) {
    .catalog-root .ts-tabs {
        width: 60%;
    }
}

@media (max-width: 499px) {
    .catalog-root .ts-tabs {
        width: 85%;
    }

    .catalog-root .ts-tab {
        font-size: 18px;
    }
}

@media (max-width: 449px) {
    .auth-root .ts-tabs {
        width: 100%;
    }
}

@media (max-width: 379px) {
    .auth-root .ts-tab {
        font-size: 16px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .ts-tab:hover {
        transform: translateY(-2px);
    }
}